body{
    display: flex;
    flex-direction:column ;
    justify-content: center;
}
.container {
    display: block;
    align-self: center;

    width: 800px;
  }

  .collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
  }
  
  .photo {
    width: 100%;
    padding-bottom: 100%; 
    position: relative;
    overflow: hidden;
  }
  
  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
  }

  .image-container {
    max-width: 100%; 
  }
  
  .image-container img {
    width: 100%; 
    height: auto;
  }


@media (max-width: 991px) {
    .container{
      width: 90%;
    }
}