body{
    display: flex;
    flex-direction:column ;
    justify-content: center;
}
.container {
    display: block;
    align-self: center;

    width: 800px;
  }

  .collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as per your collage */
    grid-gap: 10px; /* Adjust the gap between photos as per your preference */
  }
  
  .photo {
    width: 100%;
    padding-bottom: 100%; /* Maintain a square aspect ratio for each photo */
    position: relative;
    overflow: hidden;
  }
  
  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resize the photo to cover the container */
    position: absolute;
    top: 0;
    left: 0;
  }

  .image-container {
    max-width: 100%; /* Set the maximum width of the container */
  }
  
  .image-container img {
    width: 100%; /* Set the image width to 100% of the container */
    height: auto; /* Allow the height to adjust automatically while maintaining aspect ratio */
  }


@media (max-width: 991px) {
    .container{
      width: 90%;
    }
}